
@font-face {
  font-family: "feather";
  src: url('fonts/feather.eot?t=1501841394106'); /* IE9*/
  src: url('fonts/feather.eot?t=1501841394106#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/feather.woff?t=1501841394106') format('woff'), /* chrome, firefox */
  url('fonts/feather.ttf?t=1501841394106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/feather.svg?t=1501841394106#feather') format('svg'); /* iOS 4.1- */
}

.xxicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xxicon-alert-octagon:before { content: "\e81b"; }

.xxicon-alert-circle:before { content: "\e81c"; }

.xxicon-activity:before { content: "\e81d"; }

.xxicon-alert-triangle:before { content: "\e81e"; }

.xxicon-align-center:before { content: "\e81f"; }

.xxicon-airplay:before { content: "\e820"; }

.xxicon-align-justify:before { content: "\e821"; }

.xxicon-align-left:before { content: "\e822"; }

.xxicon-align-right:before { content: "\e823"; }

.xxicon-arrow-down-left:before { content: "\e824"; }

.xxicon-arrow-down-right:before { content: "\e825"; }

.xxicon-anchor:before { content: "\e826"; }

.xxicon-aperture:before { content: "\e827"; }

.xxicon-arrow-left:before { content: "\e828"; }

.xxicon-arrow-right:before { content: "\e829"; }

.xxicon-arrow-down:before { content: "\e82a"; }

.xxicon-arrow-up-left:before { content: "\e82b"; }

.xxicon-arrow-up-right:before { content: "\e82c"; }

.xxicon-arrow-up:before { content: "\e82d"; }

.xxicon-award:before { content: "\e82e"; }

.xxicon-bar-chart:before { content: "\e82f"; }

.xxicon-at-sign:before { content: "\e830"; }

.xxicon-bar-chart-2:before { content: "\e831"; }

.xxicon-battery-charging:before { content: "\e832"; }

.xxicon-bell-off:before { content: "\e833"; }

.xxicon-battery:before { content: "\e834"; }

.xxicon-bluetooth:before { content: "\e835"; }

.xxicon-bell:before { content: "\e836"; }

.xxicon-book:before { content: "\e837"; }

.xxicon-briefcase:before { content: "\e838"; }

.xxicon-camera-off:before { content: "\e839"; }

.xxicon-calendar:before { content: "\e83a"; }

.xxicon-bookmark:before { content: "\e83b"; }

.xxicon-box:before { content: "\e83c"; }

.xxicon-camera:before { content: "\e83d"; }

.xxicon-check-circle:before { content: "\e83e"; }

.xxicon-check:before { content: "\e83f"; }

.xxicon-check-square:before { content: "\e840"; }

.xxicon-cast:before { content: "\e841"; }

.xxicon-chevron-down:before { content: "\e842"; }

.xxicon-chevron-left:before { content: "\e843"; }

.xxicon-chevron-right:before { content: "\e844"; }

.xxicon-chevron-up:before { content: "\e845"; }

.xxicon-chevrons-down:before { content: "\e846"; }

.xxicon-chevrons-right:before { content: "\e847"; }

.xxicon-chevrons-up:before { content: "\e848"; }

.xxicon-chevrons-left:before { content: "\e849"; }

.xxicon-circle:before { content: "\e84a"; }

.xxicon-clipboard:before { content: "\e84b"; }

.xxicon-chrome:before { content: "\e84c"; }

.xxicon-clock:before { content: "\e84d"; }

.xxicon-cloud-lightning:before { content: "\e84e"; }

.xxicon-cloud-drizzle:before { content: "\e84f"; }

.xxicon-cloud-rain:before { content: "\e850"; }

.xxicon-cloud-off:before { content: "\e851"; }

.xxicon-codepen:before { content: "\e852"; }

.xxicon-cloud-snow:before { content: "\e853"; }

.xxicon-compass:before { content: "\e854"; }

.xxicon-copy:before { content: "\e855"; }

.xxicon-corner-down-right:before { content: "\e856"; }

.xxicon-corner-down-left:before { content: "\e857"; }

.xxicon-corner-left-down:before { content: "\e858"; }

.xxicon-corner-left-up:before { content: "\e859"; }

.xxicon-corner-up-left:before { content: "\e85a"; }

.xxicon-corner-up-right:before { content: "\e85b"; }

.xxicon-corner-right-down:before { content: "\e85c"; }

.xxicon-corner-right-up:before { content: "\e85d"; }

.xxicon-cpu:before { content: "\e85e"; }

.xxicon-credit-card:before { content: "\e85f"; }

.xxicon-crosshair:before { content: "\e860"; }

.xxicon-disc:before { content: "\e861"; }

.xxicon-delete:before { content: "\e862"; }

.xxicon-download-cloud:before { content: "\e863"; }

.xxicon-download:before { content: "\e864"; }

.xxicon-droplet:before { content: "\e865"; }

.xxicon-edit-2:before { content: "\e866"; }

.xxicon-edit:before { content: "\e867"; }

.xxicon-edit-1:before { content: "\e868"; }

.xxicon-external-link:before { content: "\e869"; }

.xxicon-eye:before { content: "\e86a"; }

.xxicon-feather:before { content: "\e86b"; }

.xxicon-facebook:before { content: "\e86c"; }

.xxicon-file-minus:before { content: "\e86d"; }

.xxicon-eye-off:before { content: "\e86e"; }

.xxicon-fast-forward:before { content: "\e86f"; }

.xxicon-file-text:before { content: "\e870"; }

.xxicon-film:before { content: "\e871"; }

.xxicon-file:before { content: "\e872"; }

.xxicon-file-plus:before { content: "\e873"; }

.xxicon-folder:before { content: "\e874"; }

.xxicon-filter:before { content: "\e875"; }

.xxicon-flag:before { content: "\e876"; }

.xxicon-globe:before { content: "\e877"; }

.xxicon-grid:before { content: "\e878"; }

.xxicon-heart:before { content: "\e879"; }

.xxicon-home:before { content: "\e87a"; }

.xxicon-github:before { content: "\e87b"; }

.xxicon-image:before { content: "\e87c"; }

.xxicon-inbox:before { content: "\e87d"; }

.xxicon-layers:before { content: "\e87e"; }

.xxicon-info:before { content: "\e87f"; }

.xxicon-instagram:before { content: "\e880"; }

.xxicon-layout:before { content: "\e881"; }

.xxicon-link-2:before { content: "\e882"; }

.xxicon-life-buoy:before { content: "\e883"; }

.xxicon-link:before { content: "\e884"; }

.xxicon-log-in:before { content: "\e885"; }

.xxicon-list:before { content: "\e886"; }

.xxicon-lock:before { content: "\e887"; }

.xxicon-log-out:before { content: "\e888"; }

.xxicon-loader:before { content: "\e889"; }

.xxicon-mail:before { content: "\e88a"; }

.xxicon-maximize-2:before { content: "\e88b"; }

.xxicon-map:before { content: "\e88c"; }

.xxicon-map-pin:before { content: "\e88e"; }

.xxicon-menu:before { content: "\e88f"; }

.xxicon-message-circle:before { content: "\e890"; }

.xxicon-message-square:before { content: "\e891"; }

.xxicon-minimize-2:before { content: "\e892"; }

.xxicon-mic-off:before { content: "\e893"; }

.xxicon-minus-circle:before { content: "\e894"; }

.xxicon-mic:before { content: "\e895"; }

.xxicon-minus-square:before { content: "\e896"; }

.xxicon-minus:before { content: "\e897"; }

.xxicon-moon:before { content: "\e898"; }

.xxicon-monitor:before { content: "\e899"; }

.xxicon-more-vertical:before { content: "\e89a"; }

.xxicon-more-horizontal:before { content: "\e89b"; }

.xxicon-move:before { content: "\e89c"; }

.xxicon-music:before { content: "\e89d"; }

.xxicon-navigation-2:before { content: "\e89e"; }

.xxicon-navigation:before { content: "\e89f"; }

.xxicon-octagon:before { content: "\e8a0"; }

.xxicon-package:before { content: "\e8a1"; }

.xxicon-pause-circle:before { content: "\e8a2"; }

.xxicon-pause:before { content: "\e8a3"; }

.xxicon-percent:before { content: "\e8a4"; }

.xxicon-phone-call:before { content: "\e8a5"; }

.xxicon-phone-forwarded:before { content: "\e8a6"; }

.xxicon-phone-missed:before { content: "\e8a7"; }

.xxicon-phone-off:before { content: "\e8a8"; }

.xxicon-phone-incoming:before { content: "\e8a9"; }

.xxicon-phone:before { content: "\e8aa"; }

.xxicon-phone-outgoing:before { content: "\e8ab"; }

.xxicon-pie-chart:before { content: "\e8ac"; }

.xxicon-play-circle:before { content: "\e8ad"; }

.xxicon-play:before { content: "\e8ae"; }

.xxicon-plus-square:before { content: "\e8af"; }

.xxicon-plus-circle:before { content: "\e8b0"; }

.xxicon-plus:before { content: "\e8b1"; }

.xxicon-pocket:before { content: "\e8b2"; }

.xxicon-printer:before { content: "\e8b3"; }

.xxicon-power:before { content: "\e8b4"; }

.xxicon-radio:before { content: "\e8b5"; }

.xxicon-repeat:before { content: "\e8b6"; }

.xxicon-refresh-ccw:before { content: "\e8b7"; }

.xxicon-rewind:before { content: "\e8b8"; }

.xxicon-rotate-ccw:before { content: "\e8b9"; }

.xxicon-refresh-cw:before { content: "\e8ba"; }

.xxicon-rotate-cw:before { content: "\e8bb"; }

.xxicon-save:before { content: "\e8bc"; }

.xxicon-search:before { content: "\e8bd"; }

.xxicon-server:before { content: "\e8be"; }

.xxicon-scissors:before { content: "\e8bf"; }

.xxicon-share-2:before { content: "\e8c0"; }

.xxicon-share:before { content: "\e8c1"; }

.xxicon-shield:before { content: "\e8c2"; }

.xxicon-settings:before { content: "\e8c3"; }

.xxicon-skip-back:before { content: "\e8c4"; }

.xxicon-shuffle:before { content: "\e8c5"; }

.xxicon-sidebar:before { content: "\e8c6"; }

.xxicon-skip-forward:before { content: "\e8c7"; }

.xxicon-slack:before { content: "\e8c8"; }

.xxicon-slash:before { content: "\e8c9"; }

.xxicon-smartphone:before { content: "\e8ca"; }

.xxicon-square:before { content: "\e8cb"; }

.xxicon-speaker:before { content: "\e8cc"; }

.xxicon-star:before { content: "\e8cd"; }

.xxicon-stop-circle:before { content: "\e8ce"; }

.xxicon-sun:before { content: "\e8cf"; }

.xxicon-sunrise:before { content: "\e8d0"; }

.xxicon-tablet:before { content: "\e8d1"; }

.xxicon-tag:before { content: "\e8d2"; }

.xxicon-sunset:before { content: "\e8d3"; }

.xxicon-target:before { content: "\e8d4"; }

.xxicon-thermometer:before { content: "\e8d5"; }

.xxicon-thumbs-up:before { content: "\e8d6"; }

.xxicon-thumbs-down:before { content: "\e8d7"; }

.xxicon-toggle-left:before { content: "\e8d8"; }

.xxicon-toggle-right:before { content: "\e8d9"; }

.xxicon-trash-2:before { content: "\e8da"; }

.xxicon-trash:before { content: "\e8db"; }

.xxicon-trending-up:before { content: "\e8dc"; }

.xxicon-trending-down:before { content: "\e8dd"; }

.xxicon-triangle:before { content: "\e8de"; }

.xxicon-type:before { content: "\e8df"; }

.xxicon-twitter:before { content: "\e8e0"; }

.xxicon-upload:before { content: "\e8e1"; }

.xxicon-umbrella:before { content: "\e8e2"; }

.xxicon-upload-cloud:before { content: "\e8e3"; }

.xxicon-unlock:before { content: "\e8e4"; }

.xxicon-user-check:before { content: "\e8e5"; }

.xxicon-user-minus:before { content: "\e8e6"; }

.xxicon-user-plus:before { content: "\e8e7"; }

.xxicon-user-x:before { content: "\e8e8"; }

.xxicon-user:before { content: "\e8e9"; }

.xxicon-users:before { content: "\e8ea"; }

.xxicon-video-off:before { content: "\e8eb"; }

.xxicon-video:before { content: "\e8ec"; }

.xxicon-voicemail:before { content: "\e8ed"; }

.xxicon-volume-x:before { content: "\e8ee"; }

.xxicon-volume-2:before { content: "\e8ef"; }

.xxicon-volume-1:before { content: "\e8f0"; }

.xxicon-volume:before { content: "\e8f1"; }

.xxicon-watch:before { content: "\e8f2"; }

.xxicon-wifi:before { content: "\e8f3"; }

.xxicon-x-square:before { content: "\e8f4"; }

.xxicon-wind:before { content: "\e8f5"; }

.xxicon-x:before { content: "\e8f6"; }

.xxicon-x-circle:before { content: "\e8f7"; }

.xxicon-zap:before { content: "\e8f8"; }

.xxicon-zoom-in:before { content: "\e8f9"; }

.xxicon-zoom-out:before { content: "\e8fa"; }

.xxicon-command:before { content: "\e8fb"; }

.xxicon-cloud:before { content: "\e8fc"; }

.xxicon-hash:before { content: "\e8fd"; }

.xxicon-headphones:before { content: "\e8fe"; }

.xxicon-underline:before { content: "\e8ff"; }

.xxicon-italic:before { content: "\e900"; }

.xxicon-bold:before { content: "\e901"; }

.xxicon-crop:before { content: "\e902"; }

.xxicon-help-circle:before { content: "\e903"; }

.xxicon-paperclip:before { content: "\e904"; }

.xxicon-shopping-cart:before { content: "\e905"; }

.xxicon-tv:before { content: "\e906"; }

.xxicon-wifi-off:before { content: "\e907"; }

.xxicon-minimize:before { content: "\e88d"; }

.xxicon-maximize:before { content: "\e908"; }

.xxicon-gitlab:before { content: "\e909"; }

.xxicon-sliders:before { content: "\e90a"; }

.xxicon-star-on:before { content: "\e90b"; }

.xxicon-heart-on:before { content: "\e90c"; }