@include component(mobile-nav-btn) {
    display: inline-block;
    @include size(36px, 26px);
    z-index: 9;
    color: $theme-white;
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    cursor: pointer;

    @include component(lines) {
        display: block;
        position: absolute;
        @include size(100%, 4px);
        background: $theme-white;
        border-radius: 4px;
        @include opacity(1);
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1){
            top: 1px;
            //width: 80%;
        }

        &:nth-child(2), &:nth-child(3){
            top: 11px;
        }

        &:nth-child(4){
            top: 21px;
            //width: 60%;
        }
    }

    &:hover{
        @include component(lines) {
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(4){
                width: 80%;
            }
        }
    }

    &.nav-active{
        @include component(lines) {
            &:nth-child(1), &:nth-child(4){
                top: 10px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2){
                @include transform(rotate(45deg));
            }
            &:nth-child(3){
                @include transform(rotate(-45deg));
            }
        }
    }

    .sticky &{
        @include rem-spacing (margin-top, 12);
    }

    .innerpage & {
        color: $theme-primary;

        @include component(lines) {
            background-color: $theme-primary;
        }
    }
}