@import "xicon-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mphv5v');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mphv5v#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?mphv5v') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?mphv5v') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?mphv5v##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xicon-"], [class*=" xicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xicon-mobile {
  &:before {
    content: $icon-mobile; 
  }
}
.xicon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.xicon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.xicon-play_btn {
  &:before {
    content: $icon-play_btn; 
  }
}
.xicon-arrow_up {
  &:before {
    content: $icon-arrow_up; 
  }
}
.xicon-arrow_down {
  &:before {
    content: $icon-arrow_down; 
  }
}
.xicon-search {
  &:before {
    content: $icon-search; 
  }
}
.xicon-close_circle {
  &:before {
    content: $icon-close_circle; 
  }
}
.xicon-close {
  &:before {
    content: $icon-close; 
  }
}
.xicon-google {
  &:before {
    content: $icon-google; 
  }
}
.xicon-google_square {
  &:before {
    content: $icon-google_square; 
  }
}
.xicon-linkedin_square {
  &:before {
    content: $icon-linkedin_square; 
  }
}
.xicon-youtube_square {
  &:before {
    content: $icon-youtube_square; 
  }
}
.xicon-twitter_square {
  &:before {
    content: $icon-twitter_square; 
  }
}
.xicon-facebook_square {
  &:before {
    content: $icon-facebook_square; 
  }
}
.xicon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.xicon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.xicon-map_pointer {
  &:before {
    content: $icon-map_pointer; 
  }
}
.xicon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.xicon-email {
  &:before {
    content: $icon-email; 
  }
}
.xicon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.xicon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.xicon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}